@{
    ViewBag.Title = "home";
}

<h2>Posts</h2>

<ul>
    @foreach (var post in Site.posts)
    {
        <li><a href="@post.Url">@post.Title</a></li>
    }
</ul>


<h2>Docs</h2>

<ul>
    @foreach (var doc in Site.docs)
    {
        <li><a href="@doc.Url">@(doc.Title) - @(doc.Author)</a></li>
    }
</ul>

<h2>Permalinks</h2>

<ul>
    <li><a href="@Site.docs.lorem.Url">Title for url @Site.docs.lorem.Url @Site.docs.lorem.Title</a></li>
</ul>


